
@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 2cm 4cm 3cm 4cm auto;
  padding: 10 10 100px;
  max-width: var(--max-content-width);
  
}



.link {
  display: inline-flex;
  padding: 13px 13px;
  text-decoration: none;
  text-align: center;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: rgba(0, 0, 255, 0.6);
}

.link:hover {
  color: rgba(0, 255, 0, 1);
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.cards {
  display: flex;
  margin: 0 auto;
  max-width: 1800px;

}

.card {
  margin: 0 5px;
  flex: 1 0 300px;
}

html {
  box-sizing: content-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.1 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.card header {
  padding: 10px;
  background-color: rgb(131,112,255);
  color: #fff;
}

.card header h2 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.card .body {
  padding: 5px;
  font-size: .6rem;
  color: #757575;
}

table, th, td {
  border: 1px solid black;

} 
tr:hover {background-color: #f5f5f5}
th {
  background-color: #4CAF50;
  color: white;
}
th, td {
    padding: 5px;
    text-align: left;
}

button {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px 6px;
  padding: 5px 16px;
  width: 30%;
  outline: 10;
  border: 4px solid #373277;

  border-radius: 12px;
  background: #373277;
  color: #fff;
  text-align: center;
  text-decoration: inherit;
  font-size: 12px;
  line-height: 1.3333333;
  cursor: pointer; 
  float: left;
  
}

button:hover {
  background: rgba(54, 50, 119, 0.8);
}

button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
