 .root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 380px;
  max-height:100x
}



html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

table, th, td {
  border: 1px solid black;
} 
tr:hover {background-color: #f5f5f5}
th {
  background-color: #4CAF50;
  color: white;
}
.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 60%;
  outline: 0;
  border: 1px solid #373277;
  border-radius: 0;
  background: #373277;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3333333;
  cursor: pointer;
}

.button:hover {
  background: rgba(54, 50, 119, 0.8);
}

.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

div {
  overflow-x:visible;
   
}


.formGroup {
  margin-bottom: 15px;
}